.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kalam", cursive;
  font-weight: 400;
  transition: 0.2s;
}
.loading{
  margin: 20% auto ;
}
.category-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.left-img {
  width: 50%;
}
.rightside {
  width: 50%;
  background: rgb(241, 241, 213);
}

.title {
  width: 60%;
  margin: 10% auto 5%;
  color: blue;
  font-size: 21px;
  font-weight: bold;
}
.title span {
  font-size: 19px;
  color: rgb(74, 74, 240);
}
.form-container {
  width: 60%;
  margin: 5% auto;
  box-shadow: 1px 5px 14px 2px #eef08a;
  padding: 20px;
  border-radius: 12px;
  background: white;
  color: blue;
}
.quation-type label {
  font-size: 17px;
  font-weight: bold;
}
#category,
#difficulty {
  font-size: 15px;
  margin: 5% auto;
  width: 90%;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: blue;
  background: rgba(255, 255, 0, 0.534);
}
.submitBtn {
  width: 200px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 17px;
  height: 40px;
  color: blue;
  background-color: yellow;
  cursor: pointer;
  outline: none;
  border: none;
}

.submitBtn:hover {
  color: yellow;

  background-color: blue;
}

.msg-container{
  color: blue;
  background: rgb(241, 241, 213);
  border: 1px solid blue;
  border-radius: 12px;
  margin: 10% auto;
  height: 50vh;
  width: 40%;
}
.msg-container:hover{
  transform: scale(1.1);
}
.msg-container__msg{
  margin: 10% auto;
  font-weight: bold;

}
.msg-container button{
  width: 150px;
  margin: 5px;
}
.navRes{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background: yellow;
  color: blue;
  z-index: 1;
  justify-content: center;
}
.questions-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.185),
      rgba(255, 255, 255, 0.185)
    ),
    url("./img/BrainGames-a26ca871.jpeg") repeat;
  width: 100%;
}
.questions-form {
  width: 50%;
  margin-left: 25%;
}
.question {
  margin: 10% auto;
  padding: 5% 0;
  box-shadow: 14px 15px 30px 4px #eef08a;
  border-radius: 12px;
  background: white;
}
.question:hover {
  transform: scale(1.1);
}
.answers {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

.inputcontainer {
  border: 1px solid black;
  background: white;
  padding: 3px;
  width: 200px;
  border-radius: 22px;
  margin: 5px auto;
  cursor: pointer;
  display: inline-block;
  color: black;
}

.inputcontainer:hover {
  background: yellow;
  color: blue;
  border: none;
}

.inputcontainer input {
  position: absolute;
  opacity: 0;
}